<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/base.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    </head>
    <body>
        <div class="wrap">
            <div class="app">
                <!--页面头-->
                <div class="header clearfix">
                    <div id="list-select" class="fl">
                        <!--<a href="#" class="list-btn">朋友列表</a>-->
                        <!--<a href="#" class="list-btn">已请求列表</a>-->
                        <!--<a href="#" class="list-btn">待确认列表</a>-->
                    </div>
                    <div id="user-info" class="fr">
                        <%= Sid %>
                        <!--用户个人信息-->
                        <!--<div class="user-info-index">-->
                            <!--<img src="/images/user-photo-1.png" alt="" class="user-photo fl">-->
                            <!--<div class="info">-->
                                <!--<p class="name">axx</p>-->
                                <!--<input type="text" class="log-text" value="厉害了我的哥."/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--登录注册按钮-->
                        <!--<div class="user-login-register">-->
                            <!--<a href="#" class="login-btn">登录</a>-->
                            <!--<a href="#" class="login-btn">注册</a>-->
                        <!--</div>-->
                    </div>
                    <div id="search-btn" class="fr">
                        <!--<div class="search-btn"></div>-->
                    </div>
                </div>
                <!--体-->
                <div class="body clearfix">
                    <div class="friend-list">
                        <div class="item-title">
                            朋友列表
                            <div class="fr btn">匹配</div>
                        </div>
                        <hr/>
                        <div id="user-list">
                            <!--<ul class="list">-->
                                <!--<li class="item">-->
                                    <!--<img src="/images/user-photo-1.png" alt="" class="user-photo fl">-->
                                    <!--<div class="info">-->
                                        <!--<p class="name">axx</p>-->
                                        <!--<div class="message">a message in my in my head that love you .</div>-->
                                        <!--<span class="time">1 min</span>-->
                                        <!--<div class="online-tag">-->
                                            <!--<span class="true"></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li class="item cur">-->
                                    <!--<img src="/images/user-photo-1.png" alt="" class="user-photo fl">-->
                                    <!--<div class="info">-->
                                        <!--<p class="name">axx</p>-->
                                        <!--<div class="message">a message in my in my head that love you .</div>-->
                                        <!--<span class="time">1 min</span>-->
                                        <!--<div class="online-tag">-->
                                            <!--<span></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                    <div class="chat-form">
                        <div class="item-title">
                            <div class="name">angeinmili laingi</div>
                            <div class="online-tag"></div>
                        </div>
                        <hr>
                        <div class="message-list">
                            <div class="message-item">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                                <div class="message">
                                    <div class="white-message">
                                        A message is from you dear friend.
                                    </div>
                                </div>
                            </div>
                            <div class="message-item my">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fr">
                                <div class="message">
                                    <div class="blue-message">A message is from you dear friend.</div>
                                </div>
                            </div>
                            <div class="message-item">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                                <div class="message">
                                    <div class="white-message">
                                        A message is from you dear friend.
                                    </div>
                                </div>
                            </div>
                            <div class="message-item my">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fr">
                                <div class="message">
                                    <div class="blue-message">A message is from you dear friend.</div>
                                </div>
                            </div>
                            <div class="message-item">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                                <div class="message">
                                    <div class="white-message">
                                        A message is from you dear friend.
                                    </div>
                                </div>
                            </div>
                            <div class="message-item my">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fr">
                                <div class="message">
                                    <div class="blue-message">A message is from you dear friend.</div>
                                </div>
                            </div>
                            <div class="message-item">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                                <div class="message">
                                    <div class="white-message">
                                        A message is from you dear friend.A message is from you dear friend.
                                    </div>
                                </div>
                            </div>
                            <div class="message-item my">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fr">
                                <div class="message">
                                    <div class="blue-message">A message is from you dear friend.</div>
                                </div>
                            </div>
                        </div>
                        <div class="message-send">
                            <input type="text" placeholder="Type you message.">
                            <input type="submit" class="fr" value=" ">
                        </div>
                    </div>
                    <div class="other-thing" id="other-thing">
                        <div class="item-title">
                            其他功能
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>

        </div>
        <script src="/javascript/bundle.js"></script>
    </body>
</html>
