<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/base.css" />
    </head>
    <body>
        <div class="wrap">
            <div class="app">
                <!--页面头-->
                <div class="header clearfix">
                    <div id="user-info" class="fr">
                        <!--用户个人信息-->
                        <div class="user-info-index">
                            <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                            <div class="info">
                                <p class="name">axx</p>
                                <input type="text" class="log-text" value="厉害了我的哥."/>
                            </div>
                        </div>
                        <!--登录注册按钮-->
                        <div class="user-login-register">

                        </div>
                    </div>
                    <div id="search-btn" class="fr"></div>
                </div>
                <!--体-->
                <div class="body clearfix">
                    <div class="friend-list">
                        <div class="item-title">
                            朋友列表
                            <div class="fr btn">匹配</div>
                        </div>
                        <hr/>
                        <ul class="list">
                            <li class="item">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                                <div class="info">
                                    <p class="name">axx</p>
                                    <div class="message">a message in my in my head that love you .</div>
                                    <span class="time">1 min</span>
                                    <div class="online-tag true"></div>
                                </div>
                            </li>
                            <li class="item">
                                <img src="/images/user-photo-1.png" alt="" class="user-photo fl">
                                <div class="info">
                                    <p class="name">axx</p>
                                    <div class="message">a message in my in my head that love you .</div>
                                    <span class="time">1 min</span>
                                    <div class="online-tag"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-form"></div>
                    <div class="other-thing">
                        <div class="item-title">
                            其他功能
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
