.wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 731px;
    min-width: 1295px;
    top: 0;
    left: 0;
}
.app{
    height: 731px;
    width: 1295px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -647px;
    margin-top: -365px;
    background: #eff3f7;
}
/*页面头*/
.header{
    height: 60px;
    background: #3498db;
    cursor: move;
    -webkit-box-shadow: 0 5px 15px #3498db;
    -moz-box-shadow: 0 5px 15px #3498db;
    box-shadow: 0 5px 15px #3498db;
}
#user-info{
    width: 230px;
    height: 100%;
    margin-right: 60px;
    cursor: pointer;
}
img.user-photo{
    height: 40px;
    width: 40px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    margin-top: 10px;
}
canvas.user-photo{
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    margin-top: 10px;
}
.login-btn{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    border:1px solid #0f75bd;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding: 0 15px;
    background: #0f75bd;
    color: #ffffff;
}
.login-btn:hover{
    background: #ffffff;
}
.user-info-index .info{
    margin-left: 50px;
}
.user-info-index .info .login-btn{
    top:0;
    right: 20px;
}
.user-info-index .info .name{
    line-height: 30px;
    color: #ffffff;
    font-size: 15px;
}
.user-info-index .info .name:hover{
    text-decoration: underline;
}
.user-info-index .info .log-text{
    color: #2775a9;
    font-size: 12px;
    background: #3498db;
}
.user-info-index .info .log-text:focus{
    background: #ffffff;
}
#search-btn{
    height: 100%;
    min-width: 22px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}
#search-btn .search-btn{
    display: block;
    height: 100%;
    background: url("../images/search-btn.png") no-repeat 0 center;
}

/*body*/
.body{
    height: 671px;
}
.item-title{
    line-height: 60px;
    color: #3598db;
    font-size: 16px;
    padding: 0 20px;
    position: relative;
}
.item-title .btn{
    height: 35px;
    width: 100px;
    text-align: center;
    line-height: 35px;
    color: #8ea1b4;
    font-size: 14px;
    margin-top: 12px;
    background: #d6e3ec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.item-title .btn:hover{
    background: #3598db;
    color: #fff;
}
.item-title .form-close{
    position: absolute;
    top:0;
    right: 20px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    cursor: pointer;
}
.item-title .form-close:hover{
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
#user-list .YouFriend{

}
#user-list .HasRequire{

}
#user-list .AddingYou{

}
.friend-list{
    float: left;
    width: 275px;
    height: 640px;
    background: #fff;
    margin-left: 30px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 40px #d6e3ec;
    -moz-box-shadow: 0 0 40px #d6e3ec;
    box-shadow: 0 0 40px #d6e3ec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.friend-list hr{
    width: 90%;
    margin:0 auto;
    color: #ecf0f2;
}
.friend-list .list{
    height: 578px;
    overflow-y: auto;
    overflow-x: hidden;
}
.friend-list .list li{
    padding: 0 20px;
    height: 70px;
    cursor: pointer;
    position: relative;
}
.friend-list .list li .unreadcount{
    position: absolute;
    width: 20px;
    background: #3198db;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    top: 10px;
    left: 70px;
    z-index: 10;
}
.friend-list .list li .btns{
    position: absolute;
    margin-top: 15px;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 80px;
}
.friend-list .list .btns a{
    display: block;
    float: left;
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid;
    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 25px;
    text-align: center;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.friend-list .list .btns a.accept{
    border-color: #318a1d;
    color: #318a1d;
}
.friend-list .list .btns a.accept:hover{
    background: #318a1d;
    color: #ffffff;

}
.friend-list .list .btns a.deny{
    border-color: #e8535b;
    color: #e8535b;
}
.friend-list .list .btns a.deny:hover{
    background: #e8535b;
    color: #ffffff;
}
.friend-list .list li.new{
    background: #cdccf8;
    position: relative;
}
.friend-list .list li.new::before{
    content: '对方已确认，点击"确认"按钮结束。';
    position: absolute;
    font-size: 12px;
    left: 70px;
    top: 47px;
}
.friend-list .list li:hover,.friend-list .list li.cur{
    background: #cdccf8;
}
.friend-list .list .info{
    margin-left: 50px;
    height: 50px;
    padding-top: 10px;
    position: relative;
}
.friend-list .list .info .name{
    color: #34495e;
    font-size: 16px;
}
.friend-list .list .info .message{
    color:#8ea1b4;
    font-size: 12px;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.friend-list .list .info .time{
    font-size: 12px;
    color: #8ea1b4;
    float: right;
}
.friend-list .list .info .online-tag{
    position: absolute;
    height: 10px;
    width: 10px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    right: 0;
    top: 15px;
    overflow: hidden;
}
.friend-list .list .info .online-tag span{
    display: block;
    height: 100%;
    width: 100%;
    background: #d4e1ea;
}
.friend-list .list .info .online-tag span.true{
    background: #51dacf;
}
.chat-base{
    color: #cccccc;
    font-size: 25px;
    padding: 200px 15px 0;
    text-align: center;
}
.chat-form{
    float: left;
    height: 640px;
    width: 580px;
    background: #ecf1f6;
    margin-top: 20px;
    margin-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chat-form hr{
    width: 100%;
    margin:0 auto;
    color: #ecf0f2;
}
.chat-form .item-title .name{
    font-size: 18px;
    color: #16315c;
    display: inline-block;
}
/*.chat-form .item-title .online-tag{*/
    /*display: inline-block;*/
    /*height: 15px;*/
    /*width: 15px;*/
    /*overflow: hidden;*/
    /*-webkit-border-radius:100%;*/
    /*-moz-border-radius:100%;*/
    /*border-radius:100%;*/
    /*position: relative;*/
    /*top: 2px;*/
    /*left: 25px;*/
/*}*/
/*.chat-form .item-title .online-tag span{*/
    /*display: block;*/
    /*height: 100%;*/
    /*width:100%;*/
    /*background: #d4e1ea;*/
/*}*/
/*.chat-form .item-title .online-tag span.true{*/
    /*background: #51dacf;*/
/*}*/
.chat-form .message-list{
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-form .message-send{
    height: 60px;
    background: #ffffff;
    margin-top: 35px;
    padding: 0 20px;
}
.chat-form .message-send input[type=text]{
    line-height: 60px;
    height: 60px;
    width: 500px;
    font-size: 14px;
    color: #8ea1b4;
}
.chat-form .message-send input[type=submit]{
    height: 40px;
    width: 40px;
    background: url("../images/send-btn.png") no-repeat 0 0;
    margin-top: 10px;
    cursor: pointer;
}
.chat-form .message-item{
    min-height: 60px;
}
.chat-form .message-item .message{
    line-height: 40px;
    padding-top: 10px;
    margin-left: 50px;
}
.chat-form .message-item .message .white-message{
    background: #ffffff;
    padding: 0 10px;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;

}
.chat-form .message-item.my .message{
    text-align: right;
    margin-left: 0;
    margin-right: 50px;
    padding-top: 10px;
    line-height: 40px;
}
.chat-form .message-item.my .blue-message{
    background: #3598db;
    color: #ffffff;
    padding: 0 10px;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
}
.other-thing{
    float: right;
    width: 350px;
    height: 640px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 40px #d6e3ec;
    -moz-box-shadow: 0 0 40px #d6e3ec;
    box-shadow: 0 0 40px #d6e3ec;
    background: #ffffff;
    margin-top: 20px;
    margin-right: 30px;
}
.other-thing hr{
    width: 90%;
    margin:0 auto;
    color: #ecf0f2;
}
.other-thing .content{
    padding: 15px;
    height: 550px;;
    overflow-y: auto;
    overflow-x: hidden;
}
.other-thing .content input{
    display: inline-block;
}
.other-thing .content label{
    width: 80px;
    display: inline-block;
    text-align: center;
}
.other-thing .content input[type=text],.other-thing .content input[type=password]{
    border:1px solid #CCCCCC;
    width: 193px;
    padding-left: 15px;
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.other-thing .content input[type=submit]{
    display: block;
    height: 30px;
    padding: 0 20px;
    margin: 20px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #dddddd;
}
.other-thing .content input[type=submit]:hover{
    background: #ffffff;
}


/*时钟相关css*/
.canvas-clock{
    margin:25px auto;
    display: block;
}
/*form-tips*/
.form-tips{
    border: 1px solid #3498db;
    line-height: 25px;
    text-indent: 2em;
    margin-bottom: 10px;
    padding: 0 5px;
    text-align: justify;
    position: relative;
}
.form-tips::before{
    content: "";
    height: 15px;
    width: 15px;
    position: relative;
    top: 3px;
    left: -15px;
    display: inline-block;
    background: url("../images/form-tips.png") no-repeat 1px 1px;
}
.form-tips.error::before{
    background-position: 0 -38px;
}
.form-tips.success::before{
    background-position: 0 -77px;
}
.form-tips.warning::before{
    background-position: 0 -115px;
}
/*上传头像相关*/
canvas#canvas{
    display: block;
    margin: 10px auto;
}
canvas#copy{
    display: none;
}
canvas#trans{
    display: none;
}
canvas#Mir{
    display: none;
}
a.upload-wrap{
    display: inline-block;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    background: #0f75bd;
    color: #ffffff;
    border: 1px solid #0f75bd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
a.upload-wrap:hover{
    background: #ffffff;
}
a.upload-wrap.margin{
    margin-left: 4px;
    margin-right: 4px;
}
a.upload-wrap input{
    position: absolute;
    display: block;
    right: 0;
    top:0;
    font-size: 100px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
/*未登录时，朋友列表处显示内容，样式。*/
.FriendBase{
    font-size: 25px;
    color: #cccccc;
    padding: 0 15px;
    text-align: justify;
    text-align: left;
    padding-top: 200px;
}
/*搜索结果相关样式*/
.Result-img{
    display: block;
    height: 220px;
    width: 220px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    margin:10px auto;
}
.Result-p{
    line-height: 30px;
    font-size: 14px;
    color: #666666;
}
.Result-p span{
    display: inline-block;
    width: 85px;
    text-align: right;
}
.add-btn{
    display: block;
    height: 35px;
    width: 80%;
    margin: 10px auto;
    background: #0f75bd;
    color: #ffffff;
    border: 1px solid #0f75bd;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}
.add-btn:hover{
    background: #ffffff;
    color: #0f75bd;
}
/*列表切换按钮 add 2016-11-17*/
#user-list{
    position: relative;
    overflow: visible;
}
#list-select{
    position: absolute;
    height: 60px;
    width: 330px;
    z-index: 10;
    top: -80px;
    left: -30px;
}
.list-btn{
    float: left;
    display: block;
    background: #0f75bd none repeat scroll 0 0;
    border: 1px solid #0f75bd;
    border-radius: 10px;
    color: #ffffff;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0 15px;
    position: relative;
}
.list-btn .num{
    position: absolute;
    top: -6px;
    right: -8px;
    background: #e83b33;
    color: #ffffff;
    width: 20px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.list-btn:hover,.list-btn.cur{
    background: #ffffff;
    color: #0f75bd;
}





























